# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Poetry files
poetry.lock
*.toml.lock

# Virtual environments
.env/
.venv/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# dotenv
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# profiling
.prof
.ipynb_checkpoints/

# VSCode-specific
.vscode/

# Local tooling and configuration
.idea/
*.iml
*.log
*.log.*

# Logs and temp files
*.log
*.temp
*.tmp
.DS_Store

# Other
output/
